body {
  background-color: hsl(236, 87%, 85%);
  font-family: 'Ubuntu', sans-serif;

}

h1:hover {color: green;}::shadow {
  color: #5865f2;
}

h3 {
  color: #5865f2;
}

hr {
  border-color: #ffffd0;
  border-style: none;
  border-top-style: solid;
  border-width: 5px;
}